::selection {
  background-color: #e5d6ca;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

#root {
  position: relative;
  display: block;
  min-height: 100vh;
  background-color: #EFE6DF;

  @media screen and (min-width: $tablet-landscape-up) {
    overflow: hidden;
    height: 100vh;
  }
}

.wrap {
  @media screen and (min-width: $tablet-landscape-up) {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}
