.content {
  padding: 30px 20px;
  flex-grow: 1;

  @media screen and (min-width: $tablet-landscape-up) {
    order: 2;
  }
}

.content-headline {
  font-size: 32px;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
  font-weight: black;
}

.content-inner {
  @media screen and (min-width: $tablet-landscape-up) {
    width: 50vw;
  }
}

.content-p {
  margin: 40px 0;
  font-size: 16px;
  line-height: 25px;
}

.content-nav {
  position: relative;
  display: block;
  margin: 20px 0;
  font-size: 16px;
  line-height: 20px;
}

.sub-headline {
  position: relative;
  display: block;
  border-bottom: 0; //1px solid #000;
  margin-top: 40px;
  padding-bottom: 5px;
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;

  &:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
  }

  &.underline {
    transition: color .5s;

    &:after {
      border-bottom: 1px solid transparent;
      width: 100%;
      height: 100%;
      bottom: 0;
      color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
      transition:
        border-color 0s ease-out .3s,
        width .5s ease-out .3s,
        height .5s ease-out .3s;
    }
  }
}

.section {
  margin: 40px 0;
  line-height: 25px;
}

.section-healine {
  text-transform: uppercase;
}

.content-link {
  &:link,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}
