.content {
  position: relative;
  min-height: 100vh;
  background-color: #EFE6DF;

  @media screen and (min-width: $tablet-landscape-up) {
    display: inline-block;
    width: 75vw;
    height: 100%;
  }
}
