@mixin link-anim {
  &:after{
    content: ' ';
    position: absolute;
    top: 52.5%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    animation-name: strike;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
  }
}

.menu {
  color: #000;
  height: auto;
  padding: 20px 0;
  left: 0;
  z-index: 1;

  &.is-desktop {
    display: none;
    width: 205px;

    @media screen and (min-width: $tablet-landscape-up) {
      display: block;
      flex-shrink: 0;
      order: 1;
    }
  }

  &.is-mobile {
    position: relative;
    display: block;
    background-color: #fff;

    @media screen and (min-width: $tablet-landscape-up) {
      display: none;
    }
  }
}

.menu-wrap {

  @media screen and (min-width: $tablet-landscape-up) {
    margin: 0 20px;
    border-left: 1px solid #000;
  }
}

.menu-link-wrap {
  position: relative;
  display: block;
}

.menu-link {
  position: relative;
  display: inline-block;
  margin: 0 25px;
  line-height: 30px;

  &:link,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    @include link-anim;
  }

  @media screen and (min-width: $tablet-landscape-up) {
    margin: 0 15px;
  }
}

.sub-menu {
  display: block;
  margin: 0 20px;

  @media screen and (min-width: $tablet-landscape-up) {
    border-left: 1px solid #000;
  }
}

.sub-menu-link {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;

  &:hover {
    @include link-anim;
  }
}

.is-active {
  @include link-anim;
}

@keyframes strike {
  0%   {
    width : 0;
  }
  100% {
    width: 100%;
  }
}
