@import url("https://fonts.googleapis.com/css?family=Muli:400,900");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: 'Muli', sans-serif;
  font-size: 16px; }

#root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #EFE6DF; }

@media screen and (min-width: 991px) {
  .wrap {
    display: flex; } }

.header-wrap {
  position: relative;
  min-height: 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (min-width: 991px) {
    .header-wrap {
      display: none; } }

.header {
  padding: 20px 25px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 20px; }

.header-bg {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.header-container {
  position: absolute;
  height: auto;
  left: 0;
  background-color: #fff;
  transform: translateY(-100%);
  transition: all .3s linear;
  z-index: 1; }
  @media screen and (min-width: 991px) {
    .header-container {
      height: 200px;
      width: 500px;
      transform: translateX(-150px) translateY(50px) rotate(-90deg) !important;
      z-index: 3; } }

.is-open {
  transform: translateY(50px); }

.header-text {
  margin: 0 0 16px 0; }

.header-links {
  display: inline-block;
  padding: 0 10px; }
  .header-links:first-child {
    padding-left: 0; }
  .header-links:link, .header-links:active, .header-links:visited {
    color: inherit;
    text-decoration: none; }

.header-year {
  display: inline-block;
  float: right; }

.logo-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 25px;
  z-index: 3; }

.logo-img {
  display: block; }
  @media screen and (min-width: 991px) {
    .logo-img {
      height: 80px; } }

.menu-btn {
  float: right;
  cursor: pointer;
  margin: 18px 25px;
  height: 14px;
  z-index: 3; }
  @media screen and (min-width: 991px) {
    .menu-btn {
      display: none; } }

.is-up {
  transform: rotate(180deg); }

.menu {
  color: #000;
  height: auto;
  padding: 10px 0;
  left: 0;
  z-index: 1; }
  .menu.is-desktop {
    display: none;
    width: 205px; }
    @media screen and (min-width: 991px) {
      .menu.is-desktop {
        display: inline-block;
        order: 1; } }
  .menu.is-mobile {
    position: relative;
    display: block;
    background-color: #fff; }
    @media screen and (min-width: 991px) {
      .menu.is-mobile {
        display: none; } }

@media screen and (min-width: 991px) {
  .menu-wrap {
    margin: 0 20px;
    border-left: 1px solid #000; } }

.menu-link-wrap {
  position: relative;
  display: block; }

.menu-link {
  position: relative;
  display: inline-block;
  margin: 0 25px;
  line-height: 30px; }
  .menu-link:link, .menu-link:active, .menu-link:visited {
    color: inherit;
    text-decoration: none; }
  @media screen and (min-width: 991px) {
    .menu-link {
      margin: 0 15px; } }

.sub-menu {
  display: block;
  margin: 0 20px; }
  @media screen and (min-width: 991px) {
    .sub-menu {
      border-left: 1px solid #000; } }

.sub-menu-link {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  line-height: 30px;
  color: inherit;
  text-decoration: none; }

.is-active:after {
  content: ' ';
  position: absolute;
  top: calc(50% + 2px);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  animation-name: strike;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes strike {
  0% {
    width: 0;
    left: 50%; }
  100% {
    width: 100%;
    left: 0; } }

.content {
  position: relative;
  padding: 20px 25px; }
  @media screen and (min-width: 991px) {
    .content {
      order: 2;
      width: calc(100% - 405px);
      height: auto; } }

.content-headline {
  font-size: 32px;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
  font-weight: black; }

.sub-headline {
  position: relative;
  display: block;
  border-bottom: 0;
  margin-top: 20px;
  padding-bottom: 5px;
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none; }
  .sub-headline:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0; }
  .sub-headline.underline {
    transition: color .3s; }
    .sub-headline.underline:after {
      border-bottom: 1px solid transparent;
      width: 100%;
      height: 100%;
      bottom: 0;
      color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
      transition: border-color 0s ease-out .3s, width .3s ease-out .3s, height .3s ease-out .75s; }

.footer-wrap {
  display: none;
  order: 3;
  width: 210px;
  height: auto;
  min-height: 100vh;
  padding: 0;
  background-color: #fff; }
  @media screen and (min-width: 991px) {
    .footer-wrap {
      display: block; } }

.footer-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
  z-index: 999;
  height: 180px;
  width: 65vh;
  max-width: 800px;
  top: 0;
  right: 0;
  transform: translateX(-200px) rotate(-90deg);
  transform-origin: right top; }

.footer-content {
  position: relative;
  display: flex;
  flex-direction: row;
  order: 1;
  flex-grow: 1;
  align-items: center;
  justify-content: center; }
  .footer-content .logo-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 3;
    padding: 0 10px 0 0; }

.footer-text {
  display: inline-block;
  position: relative;
  vertical-align: top;
  order: 2; }

.footer-links {
  position: relative;
  display: block;
  order: 2; }

.footer-year {
  display: inline-block;
  padding-right: 20px; }

.footer-link {
  display: inline-block;
  padding: 0 20px; }
  .footer-link:first-child {
    padding-left: 0; }
  .footer-link:link, .footer-link:active, .footer-link:visited {
    color: inherit;
    text-decoration: none; }
