html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: default; }

#root {
  position: relative;
  width: 100%;
  height: 100%; }

.header {
  background-color: #fff;
  position: relative;
  min-height: 50px;
  padding: 3vw 3.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (min-width: 991px) {
    .header {
      display: none; } }

.logo-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.arrow-menu-btn {
  position: relative;
  display: inline-block;
  float: right;
  cursor: pointer; }

.menu {
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  left: 0; }

.content {
  position: relative;
  min-height: 100vh;
  background-color: #EFE6DF; }
  @media screen and (min-width: 991px) {
    .content {
      width: 75vw;
      height: 100%; } }

.sidebar {
  position: relative;
  display: none;
  background-color: #fff; }
  @media screen and (min-width: 991px) {
    .sidebar {
      display: inline-block;
      width: 25vw;
      height: 100%; } }
